DBT_DUCKDB_PATH=/Users/yourname/Desktop/Project 1/data/raw/analytics.duckdb
DBT_PROFILES_DIR=/Users/yourname/Desktop/Project 1/dbt_project/profiles
DBT_PROJECT_DIR=/Users/yourname/Desktop/Project 1/dbt_project